.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img,
.fighter-preview___right img {
  height: 200px;
  max-width: 250px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___params {
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  color: #fff;
}